<!DOCTYPE html>
<html>
<head>
    <title>Add</title>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
</head>
<body>
        <h2>输入两个数求和</h2>
        <form method='post' action='/add'>
         <table>
          <p>使用表单计算两个数的和</p>
           <tr><td>被加数</td><td><input type='text' name='n1'/></td></tr>
           <tr><td>加数</td><td><input type='text' name='n2'/></td></tr>
         </table>
        <button name="sum" type="submit" value="sum">求和</button>

</body>
 <h1>why I am invisible</h1>
<iframe src="https://trinket.io/embed/python3/68164d132e" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

</html>